<div>  
  <nav class="main-navigation">
    <ul>
      <li><a> {{'home' | translate}} </a></li>
      <li><a> {{'about' | translate}} </a></li>
      <li><a> {{'contact' |translate}} </a></li>
    </ul>  
    
    <select (change)="languageChange($event)">
        <option value="uz">Uz</option>
        <option value="fr">Fr</option>
        <option value="en">En</option>  
        <option value="ru">Ru</option>
    </select>

</nav>

    <h1>{{'greeting' | translate}}</h1>

    <h2>{{ today | dateLocale:'fullDate' }}</h2>

</div>